3rd linkedin_Connection_bikii unipile.json
{
  "name": "3rd linkedin bikii",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        224
      ],
      "id": "d06f118f-8e22-4337-bc86-a5bca1b9b76b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1RDwVLZT4fSlI6bCyyDrHdKfB2xpflADxrXqoLJn0YnY",
          "mode": "list",
          "cachedResultName": "first data given",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RDwVLZT4fSlI6bCyyDrHdKfB2xpflADxrXqoLJn0YnY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2011281959,
          "mode": "list",
          "cachedResultName": "linkedin con",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RDwVLZT4fSlI6bCyyDrHdKfB2xpflADxrXqoLJn0YnY/edit#gid=2011281959"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -160,
        224
      ],
      "id": "938035d0-4390-41c4-9497-fa167f4bbcaf",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IbENg7mMc6lQMuyU",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 40
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1216,
        208
      ],
      "id": "fff5d790-042a-4817-9ab5-ae4dff4b7b03",
      "name": "Wait",
      "webhookId": "63f811bd-f36b-4244-b9a5-9b292d9b83b9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api16.unipile.com:14603/api/v1/users/invite",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "88ykyw00.ZjVIgyxTJ1SCnVTDlBlPQCbH66Ff/+yWwwPapqoy5/4="
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "account_id",
              "value": "8gubdsl-Qn2tXPFUK3kc4Q"
            },
            {
              "name": "=provider_id",
              "value": "={{ $json.provider_id }}"
            },
            {
              "name": "message",
              "value": "hello sir"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        560
      ],
      "id": "8c34042b-fc06-410c-9b3c-a0dda16c39f4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://api16.unipile.com:14603/api/v1/users/{{$json[\"public_identifier\"]}}?account_id=8gubdsl-Qn2tXPFUK3kc4Q",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "88ykyw00.ZjVIgyxTJ1SCnVTDlBlPQCbH66Ff/+yWwwPapqoy5/4="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        208
      ],
      "id": "c03ceb04-9fab-4897-b853-faa057739e52",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        48,
        224
      ],
      "id": "a708883d-adb2-4501-be6f-e9af88644ac4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        80,
        512
      ],
      "id": "12046d38-b14d-477e-b17d-5df426717d1d"
    },
    {
      "parameters": {
        "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  // Fix key with potential space or case variation\n  const rawLinkedInUrl = item.json[\"LinkedIn\"] || item.json[\"LinkedIn \"] || item.json[\"linkedin\"] || item.json[\"linkedin_url\"];\n\n  if (!rawLinkedInUrl || !rawLinkedInUrl.includes(\"linkedin.com/in/\")) {\n    // Skip item if LinkedIn URL is not valid\n    continue;\n  }\n\n  const trimmedUrl = rawLinkedInUrl.trim();\n  const publicIdentifier = trimmedUrl.split(\"linkedin.com/in/\")[1].replace(/\\/$/, \"\");\n\n  items.push({\n    json: {\n      public_identifier: publicIdentifier,\n      original_url: trimmedUrl,\n      row_number: item.json.row_number,\n      name: item.json.name,\n      email: item.json.email\n    }\n  });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        208
      ],
      "id": "3e5499cc-4458-4b46-93b8-ebba071b76f9",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      email: $json.original_url,\n      status: $json.object === \"UserInvitationSent\" ? \"Connected\" : \"Failed\",\n      provider_id: $json.provider_id || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        560
      ],
      "id": "f54a647b-4dd4-464c-b70b-c2a57380af4c",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1RDwVLZT4fSlI6bCyyDrHdKfB2xpflADxrXqoLJn0YnY",
          "mode": "list",
          "cachedResultName": "first data given",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RDwVLZT4fSlI6bCyyDrHdKfB2xpflADxrXqoLJn0YnY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2011281959,
          "mode": "list",
          "cachedResultName": "linkedin con",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RDwVLZT4fSlI6bCyyDrHdKfB2xpflADxrXqoLJn0YnY/edit#gid=2011281959"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "connection status": "={{ $json.status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LinkedIn ",
              "displayName": "LinkedIn ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "connection status",
              "displayName": "connection status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1104,
        560
      ],
      "id": "f09efdb5-abfc-4e35-a62d-282375f880e8",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IbENg7mMc6lQMuyU",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3c75a2a2-0987-422a-96d8-03664a6f184d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b86a9733646a1aef5e679ef70bae8d8e087c635780d6c18795da2848b45fe9e6"
  },
  "id": "AEceatEW1ooOBXC7",
  "tags": []
}